@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Tiro Telugu', serif;
}
nav{
  margin: 10px auto;
  background-color: rgb(219, 238, 254);
  padding: 5px;
  max-width: 1000px;
}
nav h1 {  
  background-color: red;
  max-width: 400px;
  font-size: 28px;
  color: white;
  padding: 5px 30px;
  border-radius: 0px 20px 20px 0px ;
  border: white solid 1px;
}
nav h1:hover{
  color: red;
  background-color: white;
  border: red solid 1px;
  transition: 0.3s;
  letter-spacing: 3px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}
.nav-links a{
  text-decoration: none;
  color: red;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 15px;
}
.nav-links a:hover {
  background-color: red;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.home-content{
  max-width: 1000px;
  margin: 10px auto;
  padding: 5px;
  border: solid 2px rgb(219, 238, 254);
}
.home-content form {
  max-width: 600px;
  padding: 20px;
  background:linear-gradient(45deg , rgb(219, 238, 254) , rgb(255, 228, 228) ) ;
  display: grid;
  grid-template-columns: 150px auto;
  /* grid-template-rows: 20px 20px 20px 20px; */
  row-gap: 10px;
}
.home-content form input{
  height: 25px;
  width: 350px;
  font-size: 18px;
  border: solid 1px white;
}
.home-content form input:focus
{
  outline: none;
  border: solid 1px rgb(219, 238, 254);
}
.home-content  form fieldset{
  width: 350px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-content form input[type="radio"]
{
  width: auto;
  height: auto;
}
.home-content form input[type="submit"]
{
  width: 600px;
  height: 40px;
}
label{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace; 
}

table {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  background-color: white;
  width: 1000px;
  margin: auto;
  border: solid 5px rgb(219, 238, 254);
  outline: none;
}
table th{
  outline: none;
  border: black 1px solid ;
  padding: 4px 0px;
  color: red;
  font-size: 18px;
}
.first-row{
  position: sticky;
  top: 0px;
  background-color: blacka;
}
table td {
  outline: none;
  border: black 1px solid;
  padding: 4px 0px;
  text-align: center;
}
table td button{
  width: 80px;
  height: 40px;
  background-color: rgb(219, 238, 254);
  border: solid 1px black;
}
.sheet-content{
  max-width: 1000px;
  margin: auto;
}
.sheet-content h1{
  color: red;
  animation: load 4s infinite;
  border-radius: 0px 20px 20px 0px;

}
@keyframes load {
  0%{
    content: ".";
    background-color: rgb(219, 238, 254);
    width: 30%;
  }
  20%{
    content: "..";
  }
  40%{
    content: "...";
  }
  60% {
    content: "....";
  }
  80% {
    content: ".....";
  }
  100%{
    content: "......";
    background-color: rgb(255, 228, 228);
    width: 100%;
  }
}
